@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	margin: auto;
}

header {
	font-size: 19px;
	font-family: 'Kalam', cursive;
}

/*Estilos del menu principal*/
.inicio {
	display: flex;
	top: 0px;
	left: 0px;
	background: #FEB260;
	color: #fff;
}

.tituloPagina {
	width: 60%;
	margin: auto 4%;
	/*opacity: 0;*/
	/*transition: opacity 1s ease-in;*/
}

.menuPrincipal {
	padding: 0px;
	width: 40%;
	margin: auto;
}

.itemPrinc a {
	text-decoration: underline;
	color: #fff;
}

.itemPrinc {
	float: left;
	list-style: none;
	margin: 3% 4%;
	
}

.itemPrinc:hover a {
	text-decoration: none;
}

.categorias {
	display: none;
}

.itemPrinc:hover .categorias {
	display: block;
	list-style: none;
	background: #FEB260;
	position: absolute;
	padding: 1% 2%;
}

.itemSecun:hover a {
	text-decoration: underline;
}

.fEspeciales {
	display: none;
}

.itemSecun:hover .fEspeciales{
	display: block;
	list-style: none;
	width: 100%;
	background: #FCC488;
	position: absolute;
	right: -20%;
	margin: 3% 4%;
	padding-bottom: 4%;

}

.itemSecun:hover .fEspeciales a{
	text-decoration: none;
	padding: 3% 7%;
	padding-bottom: 50%;
}

.fEspeciales .itemTerc:hover a {
	text-decoration: underline;
}

.tipo {
	text-align: center;
	font-family: 'Kalam', cursive;
	font-size: 300%;
	color: #FEB260;
}

.galeria {
	width: 90%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
}

.galeria img {
	width: 31%;
	margin: 1%;
}

.galeria img:hover {
	opacity: 0.7;
}

/*Configuracion de lightbox*/
.lightbox{
	background: rgba(0,0,0,0.7);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: fixed;
	display: flex;
	justify-content: space-around;
	align-items: center;
	transform: scale(0);
}

.lightbox .contImg {
	width: 30%;
	position: absolute;
	margin: auto;
	border: solid 5px #FEB260;
	transform: scale(0);
	transition: transform 0.3s;
}

.lightbox .contImg img{
	width: 100%;
	margin: auto;
}

.lightbox .contImg .info{
	background: #FEB260;
	position: absolute;
	bottom: -0.5%;
	color: #fff;
	font-family: 'Kalam', cursive;
}

/*Inician estilos de chat*/
.fa-whatsapp{
	position: fixed;
	bottom: 1%;
	right: 1%;
	color: #4dc247;
}
.fa-facebook-messenger{
	position: fixed;
	z-index: 1000;
	bottom: 7%;
	right: 1%;
	color: #0084ff;
}