* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 80%;
	margin: auto;
}

header {
	font-size: 19px;
}

/*Estilos del menu principal*/
.inicio {
	display: flex;
	top: 0px;
	left: 0px;
	background: #FEB260;
	color: #fff;
}

.tituloPagina {
	width: 60%;
	margin: auto 4%;
}

.menuPrincipal {
	padding: 0px;
	width: 40%;
	margin: auto;
	;
}

.itemPrinc a {
	text-decoration: underline;
	color: #fff;
}

.itemPrinc {
	float: left;
	list-style: none;
	margin: 3% 4%;
}

.itemPrinc:hover a {
	text-decoration: none;
}

.categorias {
	display: none;
}

.itemPrinc:hover .categorias {
	display: block;
	list-style: none;
	background: #FEB260;
	position: absolute;
	padding: 1% 2%;
}

.itemSecun:hover a {
	text-decoration: underline;
}

.fEspeciales {
	display: none;
}

.itemSecun:hover .fEspeciales{
	display: block;
	list-style: none;
	width: 100%;
	background: #FCC488;
	position: absolute;
	right: -20%;
	margin: 3% 4%;
	padding-bottom: 4%;

}

.itemSecun:hover .fEspeciales a{
	text-decoration: none;
	padding: 3% 7%;
	padding-bottom: 50%;
}

.fEspeciales .itemTerc:hover a {
	text-decoration: underline;
}
/*Termina estilo de menu principal*/

.portada {
	width: 100%;
}

/*Inicia bienvenida*/
.bienvenida {
	width: 100%;
	padding: 2%;
	background: #FEB260;
	overflow: hidden;
}

.bienvenida h2, h3, p {
	color: #fff;
	text-align: center;
}

.mision {
	float:left;
	width: 49%;
	margin: 3% 0%;
}

.vision {
	float:left;
	width: 49%;
	margin: 3% 0%;
}
/*Termina la bienvenida*/

/*Inician los mas vendidos*/
.masVendido {
	width: 100%;
	padding: 2%;
	justify-content: space-between;
}
.masVendido h2 {
	color: #FEB260;
	text-align: center;
	margin: 2%;
}
.img {
	width: 33%;
}
/*Terminan los mas vendidos*/

/*Inician detalles de la empresa*/
.conocenos {
	background: #FEB260;
	text-align: center;
	overflow: hidden;
	padding: 2%;
}
.contacto {
	float:left;
	width: 49%;
}

.ubicacion {
	float:left;
	align-content: center;
	padding: 1%;
	margin: 0.5%;
}
/*Terminan detalles de la empresa*/

/*Comienzan puntos de entrega*/
.puntosEntrega {
	float:left;
	width: 100%;
}
.puntosEntrega h2 {
	text-align: center;
	color: #FEB260;
}

.info {
	width: 49%;
	float: left;
}

.info p {
	color: #FEB260;
}

.ubicacionPuntoEnt {
	float:left;
	position: relative;
	border: solid 3px gray;
	padding: 0px;
	margin: 0.5%;
}


/*Terminan puntos de entrega*/

/*Inicia footer*/
footer {
	width: 100%;
	background: gray;
	overflow: hidden;
	padding: 1%;
}

.copyright, .avisoPriv {
	float: left;
	width: 49%;
}

/*Termina footer*/