* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 80%;
	margin: auto;
}

header {
	font-size: 19px;
}

/*Estilos del menu principal*/
.inicio {
	display: flex;
	top: 0px;
	left: 0px;
	background: #FEB260;
	color: #fff;
}

.tituloPagina {
	width: 60%;
	margin: auto 4%;
	opacity: 0;
	transition: opacity 1s ease-in;
}

.menuPrincipal {
	padding: 0px;
	width: 40%;
	margin: auto;
}

.itemPrinc a {
	text-decoration: underline;
	color: #fff;
}

.itemPrinc {
	float: left;
	list-style: none;
	margin: 3% 4%;
	
}

.efectoTitulo{
	opacity: 1;
}
.efecto1{
	transform: translateY(-200%);
	transition: transform 1s ease-in;
}
.efecto2{
	transform: translateY(-200%);
	transition: transform 1s ease-in;
}
.efecto3{
	transform: translateY(-200%);
	transition: transform 1s ease-in;
}

.mostrarMenu{
	transform: translateY(0%);
}

.itemPrinc:hover a {
	text-decoration: none;
}

.categorias {
	display: none;
}

.itemPrinc:hover .categorias {
	display: block;
	list-style: none;
	background: #FEB260;
	position: absolute;
	padding: 1% 2%;
}

.itemSecun:hover a {
	text-decoration: underline;
}

.fEspeciales {
	display: none;
}

.itemSecun:hover .fEspeciales{
	display: block;
	list-style: none;
	width: 100%;
	background: #FCC488;
	position: absolute;
	right: -20%;
	margin: 3% 4%;
	padding-bottom: 4%;

}

.itemSecun:hover .fEspeciales a{
	text-decoration: none;
	padding: 3% 7%;
	padding-bottom: 50%;
}

.fEspeciales .itemTerc:hover a {
	text-decoration: underline;
}
/*Termina estilo de menu principal*/

.portada {
	width: 100%;
}

/*Inicia bienvenida*/
.bienvenida {
	width: 100%;
	padding: 2%;
	background: #FEB260;
	overflow: hidden;
}

.bienvenida h2, h3, p {
	color: #fff;
	text-align: justify;
	font-size: 150%;
}

.bienvenida h2 {
	font-size: 300%;
	text-align: center;
}

.bienvenida h3 {
	font-size: 200%;
	text-align: center;
}

.mision {
	float:left;
	width: 44%;
	margin: 3% 3%;
}

.vision {
	float:left;
	width: 44%;
	margin: 3% 3%;
}
/*Termina la bienvenida*/

/*Inician los mas vendidos*/
.masVendido {
	width: 100%;
	padding: 2%;
	justify-content: space-between;
}
.masVendido h2 {
	color: #FEB260;
	font-size: 300%;
	text-align: center;
	margin: 1%;
}
.img {
	width: 33%;
}
/*Terminan los mas vendidos*/

/*Inician detalles de la empresa*/
.conocenos {
	background: #FEB260;
	text-align: center;
	overflow: hidden;
	padding: 2%;
}

.conocenos h2{
	font-size: 300%;
	color: #fff;
}

.contacto {
	padding: 5%;
	float: left;
	width: 49%;
}

.contacto p{
	float: right;
	font-size: 150%;
}

.ubicacion {
	float:left;
	align-content: center;
	padding: 1%;
	margin: 0.5%;
}
/*Terminan detalles de la empresa*/

/*Comienzan puntos de entrega*/
.puntosEntrega {
	width: 100%;
}
.puntosEntrega h2 {
	text-align: center;
	color: #FEB260;
	font-size: 300%;
}

.contenedorPEnt {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.info {
	width: 100%;
}

.info p {
	color: #FEB260;
	font-size: 150%;
	text-align: center;
}

.ubicacionPuntoEnt {
	border: solid 3px gray;
	padding: 0px;
	margin: 0.5%;
}


/*Terminan puntos de entrega*/

/*Inicia footer*/
footer {
	width: 100%;
	background: gray;
	overflow: hidden;
	padding: 1%;
}

.copyright, .avisoPriv {
	float: left;
	width: 49%;
	font-size: 60%;
	text-align: center;
}

.copyright p, .avisoPriv p{
	font-size: 150%;
	text-align: center;
}


/*Termina footer*/

/*Inician estilos de titulos y parrafo*/
