@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	margin: auto;
}

header {
	font-size: 19px;
	font-family: 'Kalam', cursive;
}

/*Estilos del menu principal*/
.inicio {
	display: flex;
	top: 0px;
	left: 0px;
	background: #FEB260;
	color: #fff;
}

.tituloPagina {
	width: 35%;
	margin: auto 4%;
	opacity: 0;
	transition: opacity 1s ease-in;
}

.menuPrincipal {
	padding: 0px;
	width: 65%;
	align-items: center;
}

.contMenuDesp, .menuDesplegable{
	display: none;
}

.itemPrinc a {
	text-decoration: underline;
	color: #fff;
}

.itemPrinc {
	float: right;
	list-style: none;
	margin: 3% 4%;
	
}

.efectoTitulo{
	opacity: 1;
}
.efecto1{
	transform: translateY(-200%);
	transition: transform 1s ease-in;
}
.efecto2{
	transform: translateY(-200%);
	transition: transform 1s ease-in;
}
.efecto3{
	transform: translateY(-200%);
	transition: transform 1s ease-in;
}

.mostrarMenu{
	transform: translateY(0%);
}

.itemPrinc:hover a {
	text-decoration: none;
}

.categorias {
	display: none;
}

.itemPrinc:hover .categorias {
	display: block;
	list-style: none;
	background: #FEB260;
	position: absolute;
	padding: 1% 2%;
}

.itemSecun:hover a {
	text-decoration: underline;
}

.fEspeciales {
	display: none;
}

.itemSecun:hover .fEspeciales{
	display: block;
	list-style: none;
	width: 100%;
	background: #FCC488;
	position: absolute;
	right: -20%;
	margin: 3% 4%;
	padding-bottom: 4%;

}

.itemSecun:hover .fEspeciales a{
	text-decoration: none;
	padding: 3% 7%;
	padding-bottom: 50%;
}

.fEspeciales .itemTerc:hover a {
	text-decoration: underline;
}
/*Termina estilo de menu principal*/

.portada {
	width: 100%;
}

/*Inicia bienvenida*/
.bienvenida {
	width: 100%;
	padding: 2%;
	background: #FEB260;
	overflow: hidden;
}

.bienvenida h2, h3, p {
	color: #fff;
	text-align: center;
	font-size: 150%;
	font-family: 'Kalam', cursive;
}

.bienvenida h2 {
	font-size: 300%;
	text-align: center;	
}

.bienvenida h3 {
	font-size: 200%;
	text-align: center;
}

.mision {
	float:left;
	width: 44%;
	margin: 3% 3%;
}

.vision {
	float:left;
	width: 44%;
	margin: 3% 3%;
}
/*Termina la bienvenida*/

/*Inician los mas vendidos*/
.masVendido {
	width: 100%;
	margin: auto;
}
.masVendido h2 {
	color: #FEB260;
	font-size: 300%;
	text-align: center;
	margin: 1%;
	font-family: 'Kalam', cursive;
}

.galeria {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.galeria img {
	width: 23%;
	margin: 1%;
}

.lightbox{
	background: rgba(0,0,0,0.7);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: fixed;
	display: flex;
	justify-content: space-around;
	align-items: center;
	transform: scale(0);
}

.lightbox .contImg {
	width: 30%;
	position: absolute;
	margin: auto;
	border: solid 5px #FEB260;
	transform: scale(0);
	transition: transform 0.3s;
}

.lightbox .contImg img{
	width: 100%;
	margin: auto;
}

.lightbox .contImg .info{
	width: 100%;
	padding-left: 2%;
	background: #FEB260;
	position: absolute;
	bottom: -0.5%;
	color: white;
	font-family: 'Kalam', cursive;
	font-size: 130%;
}

.lightbox .contImg .info p{
	color: white;
	font-family: 'Kalam', cursive;
	font-size: 90%;
	text-align: left;
}


/*Terminan los mas vendidos*/

/*Inician detalles de la empresa*/
.conocenos {
	width: 100%;
	background: #FEB260;
	text-align: center;
	overflow: hidden;
	padding: 2%;
}

.conocenos h2{
	font-size: 300%;
	color: #fff;
	font-family: 'Kalam', cursive;
}

.contacto {
	padding: 5%;
	float: left;
	width: 49%;

}

.contacto p{
	text-align: right;
	font-size: 150%;
}

.contacto .redesSociales{
	width: 70%;
	margin-top: 5%;
	float: right;
	display: flex;
	justify-content: space-around;
}

.contacto .redesSociales a{
	color: #fff;
}
.contacto .redesSociales a:hover{
	color: gray;
}

.ubicacion {
	float:left;
	align-content: center;
	padding: 1%;
	margin: 0.5%;
	width: 49%;
}

.ubicacion iframe{
	width: 100%;
	height: 300px;
}
/*Terminan detalles de la empresa*/

/*Comienzan puntos de entrega*/
.puntosEntrega {
	width: 100%;
}
.puntosEntrega h2 {
	font-family: 'Kalam', cursive;
	text-align: center;
	color: #FEB260;
	font-size: 300%;
}

.contenedorPEnt {
	width: 100%;
	display: flex;
	justify-content: space-around;
}

.info {
	width: 100%;
}

.info p {
	color: #FEB260;
	font-size: 150%;
	text-align: center;
}

.ubicacionPuntoEnt {
	width: 46%;
	border: solid 3px gray;
	padding: 0px;
	margin: 2%;
}

.ubicacionPuntoEnt iframe{
	width: 100%;
}
/*Terminan puntos de entrega*/

/*Inicia footer*/
footer {
	width: 100%;
	background: gray;
	overflow: hidden;
	padding: 1%;
}

.copyright, .avisoPriv {
	float: left;
	width: 49%;
	font-size: 60%;
	text-align: center;
}

.copyright p, .avisoPriv p{
	font-size: 150%;
	text-align: center;
}
/*Termina footer*/

/*Inician estilos de chat*/
.fa-whatsapp{
	position: fixed;
	bottom: 6%;
	right: 1%;
	color: #4dc247;
}
.fa-facebook-messenger{
	position: fixed;
	z-index: 1000;
	bottom: 13%;
	right: 1%;
	color: #0084ff;
}

@media screen and (max-width: 785px) {
	.menuPrincipal{
		display: none;
	}

	.menuDesplegable{
		width: 15%;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		padding-right: 4%; 
		cursor: pointer;
	}

	.contMenuDesp{
		display: flex;
		position: fixed;
		top: 7%;
		right: 0%;
		background: gray;
		width: 33%;
		transform: translateX(200%);
		transition: transform 0.4s;
	}

	.contMenuDesp li{
		color: #fff;
		width: 110%;
		list-style: none;
	}

	.contMenuDesp a{
		color: #fff;
		padding-left: 2%;
	}

	.tituloPagina {
		width: 85%;
	}

	.masVendido img {
		width: 45%;
		margin: 2%;
	}

	.desplegar{
		transform: translateX(0%);
	}
	.conocenos .contacto{
		width: 100%;
		float: none;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.conocenos p{
		width: 100%;
		text-align: center;
	}

	.copyright p,
	.avisoPriv p{
		font-size: 150%;
	}

	.conocenos .ubicacion{
		width: 100%;
		height: 100%;
	}

	.contenedorPEnt{
		flex-wrap: wrap;
	}

	.ubicacionPuntoEnt{
		width: 100%;
	}
	.fa-facebook-messenger{
		font-size: 230%;
		bottom: 12%;
	}
	.fa-whatsapp{
		font-size: 230%;
	}
	.lightbox .contImg {
	width: 55%;
	}

	.lightbox .contImg .info p{
	font-size: 80%;
	text-align: left;
	}
}

@media screen and (max-width: 655px) {
	footer {
		display: flex;
		flex-wrap: wrap;
	}
	.contMenuDesp{
		width: 38%;
	}

	.copyright ,
	.avisoPriv {
		width: 100%;
	}
	.fa-facebook-messenger{
		bottom: 14%;
	}
	.fa-whatsapp{
		font-size: 230%;
		bottom: 9%;
	}
	.lightbox .contImg {
	width: 60%;
	}

	.lightbox .contImg .info p{
	font-size: 80%;
	text-align: left;
	}
}

@media screen and (max-width: 600px) {
	.contMenuDesp{
		width: 50%;
	}
	.bienvenida h2 {
	font-size: 200%;
	text-align: center;	
	}

	.bienvenida h3 {
	font-size: 150%;
	text-align: center;
	}

	.bienvenida p,
	.conocenos p,
	.puntosEntrega p {
	font-size: 130%;
	text-align: center;
	}

	.masVendido h2,
	.conocenos h2,
	.puntosEntrega h2 {
	font-size: 200%;
	text-align: center;	
	}
}

@media screen and (max-width: 550px) {
	footer{
		display: flex;
		flex-wrap: wrap;
	}
	.lightbox .contImg {
	width: 75%;
	}

	.lightbox .contImg .info p{
	font-size: 80%;
	text-align: left;
	}
}

@media screen and (max-width: 430px) {
	.tituloPagina h1 {
		font-size: 100%;
	}
	.bienvenida h2 {
	font-size: 150%;
	text-align: center;	
	}

	.bienvenida h3 {
	font-size: 120%;
	text-align: center;
	}

	.contMenuDesp{
		top: 4.7%;
		font-size: 80%;
	}

	.bienvenida p,
	.conocenos p,
	.puntosEntrega p {
	font-size: 100%;
	text-align: center;
	}
	.bienvenida {
		flex-wrap: wrap;
	}
	.bienvenida .mision,
	.bienvenida .vision{
		width: 100%;
	}

	.bienvenida {
	display: flex;
	justify-content: center;
	}

	.masVendido h2,
	.conocenos h2,
	.puntosEntrega h2 {
	font-size: 200%;
	text-align: center;	
	}
	.galeria img {
	width: 90%;
	margin: 1%;
	}
	.lightbox .contImg .info p{
	font-size: 70%;
	text-align: left;
	}
}

@media screen and (max-width: 330px) {
	.copyright p,
	.avisoPriv p{
		font-size: 110%;
	}

	.contMenuDesp{
		width: 70%;
	}
	.lightbox .contImg .info p{
	font-size: 55%;
	text-align: left;
	}
}